<hr />
<div class="row">
    <div class="col-md-6">
        <p class="lead">Registros de Correspondencia</p>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded" (click)="displayModal=true; this.isNew = true; myForm.reset();"></button>
    </div>
</div>    
<p-table 
    #dtCor 
    [value]="results"
    selectionMode="single"    
    dataKey="Id"
    styleClass="p-datatable-correspondences"    
    [rows]="5"
    [paginator]="true" 
    stateStorage="local"
    stateKey="statedemo-local">
    <ng-template pTemplate="header">
        <tr>                                        
            <th pSortableColumn="Consecutive">Consecutivo <p-sortIcon field="Consecutive"></p-sortIcon></th>
            <th pSortableColumn="Type">Tipo <p-sortIcon field="Type"></p-sortIcon></th>
            <th pSortableColumn="Sender">Remitente <p-sortIcon field="Sender"></p-sortIcon></th>
            <th pSortableColumn="Addressee">Destinatario <p-sortIcon field="Addressee"></p-sortIcon></th>
            <th pSortableColumn="Subject">Asunto<p-sortIcon field="Subject"></p-sortIcon></th>
            <th pSortableColumn="Acciones">Acciones</th>
        </tr>
        <tr>
            <th>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dtCor.filter($event.target.value, 'Consecutive', 'contains')" 
                    [value]="dtCor.filters['Consecutive']?.value" 
                    placeholder="Buscar por Consecutivo" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dtCor.filter($event.target.value, 'Type', 'contains')" 
                    [value]="dtCor.filters['Type']?.value" 
                    placeholder="Buscar por Tipo" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'Sender', 'contains')" 
                    [value]="dtCor.filters['Sender']?.value" 
                    placeholder="Buscar Remitente" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'Addressee', 'contains')" 
                    [value]="dtCor.filters['Addressee']?.value" 
                    placeholder="Buscar por Destinatario" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'Subject', 'contains')" 
                    [value]="dtCor.filters['Subject']?.value" 
                    placeholder="Buscar por Asunto" 
                    class="p-column-filter">
            </th>
            <th>                                            
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
        <tr>
            <td>                  
                {{result.Consecutive}}
            </td>
            <td>
                {{result.Type}}
            </td>
            <td>
                {{result.Sender}}
            </td>
            <td>
                {{result.Addressee}}
            </td>
            <td>
                {{result.Subject}}
            </td>
            <td>
                <div class="row" style="text-align:center;">
                    <div class="col-md-2">
                        <button 
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-trash"
                            (click)="confirmDelete(result.Id)"
                            class="p-button-rounded p-button-info p-button-danger">
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button 
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-pencil"
                            (click)="editModal(result)"
                            class="p-button-rounded p-button-info p-button-success">
                        </button>
                    </div>                    
                    <div class="col-md-2">
                        <button *ngIf="result.Ready === false"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-envelope"
                            (click)="deleteBill(result.Id)"
                            class="p-button-rounded p-button-info p-button-info">
                        </button>

                        <button *ngIf="result.Ready === true"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-eye"
                            (click)="deleteBill(result.Id)"
                            class="p-button-rounded p-button-info p-button-info">
                        </button>
                    </div>
                </div>
            </td>            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No correspondences found.</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog 
    header="" 
    [(visible)]="displayModal"
    [modal]="true" 
    [style]="{width: '80vw'}" 
    [baseZIndex]="10000" 
    [draggable]="false" 
    [resizable]="false"
    [closable]="false">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Crear Correspondencia</h3>
                </div>
                <div class="card-body">
                    <div class="card card-success">
                        <div class="card-header">                    
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Registro</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="myForm" #Tablefrm="ngForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Tipo</h6>
                                            <select
                                                class="browser-default custom-select"
                                                formControlName="Type"
                                                [ngClass]="{ 'is-invalid': f.Type.invalid && (f.Type.dirty || f.Type.touched) }">
                                                <option value="CI">Interna</option>
                                                <option value="CE">Externa</option>
                                            </select>
                                            <div *ngIf="f.Type.errors && (f.Type.dirty || f.Type.touched)" class="invalid-feedback">
                                                <div>El tipo es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Remitente</h6>
                                        <div class="input-group mb-3">                                
                                            <select
                                                class="browser-default custom-select"
                                                formControlName="SenderId"
                                                [ngClass]="{ 'is-invalid': f.SenderId.invalid && (f.SenderId.dirty || f.SenderId.touched) }">
                                                <option *ngFor="let item of Senders" [value]="item.Id">{{item.Id}} {{ item.Names }} {{ item.Surnames }}</option>
                                            </select>                                            
                                            <div *ngIf="f.SenderId.errors && (f.SenderId.dirty || f.SenderId.touched)" class="invalid-feedback">
                                                <div>El tipo es requerido</div>
                                            </div>
                                        </div>                            
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Destinatario</h6>
                                        <div class="input-group mb-3">                                      
                                            <select
                                                class="browser-default custom-select"
                                                formControlName="AddresseeId"
                                                [ngClass]="{ 'is-invalid': f.AddresseeId.invalid && (f.AddresseeId.dirty || f.AddresseeId.touched) }">
                                                <option 
                                                    *ngFor="let item of Addressees"
                                                    [value]="item.Id">
                                                    {{ item.Names }} {{ item.Surnames }}
                                                </option>
                                            </select>
                                            <div *ngIf="f.AddresseeId.errors && (f.AddresseeId.dirty || f.AddresseeId.touched)" class="invalid-feedback">
                                                <div>El tipo es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Asunto</h6>
                                            <input 
                                                id="Subject" 
                                                type="text" 
                                                class="form-control" 
                                                formControlName="Subject"
                                                [ngClass]="{ 'is-invalid': f.Subject.invalid && (f.Subject.dirty || f.Subject.touched) }" />
                                            <div *ngIf="f.Subject.errors && (f.Subject.dirty || f.Subject.touched)" class="invalid-feedback">
                                                <div>La ubicación es requerida</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h6>Mensaje</h6>
                                            <textarea
                                                id="Body" 
                                                type="text" 
                                                class="form-control" 
                                                formControlName="Body"
                                                [ngClass]="{ 'is-invalid': f.Body.invalid && (f.Body.dirty || f.Body.touched) }">
                                            </textarea>
                                            <div *ngIf="f.Body.errors && (f.Body.dirty || f.Body.touched)" class="invalid-feedback">
                                                <div>La ubicación es requerida</div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>     
                            </form>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>            
        <button type="button" pButton (click)="displayModal=false;" label="Cerrar" class="ui-button-secondary"></button>
        <button 
            pButton 
            pRipple 
            type="button" 
            label="Guardar"             
            class="p-button-success"
            [disabled]="!myForm.valid"
            (click)="insertOrupdate()">
        </button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>


