<div class="row">
    <p-toast position="center" key="tl"></p-toast>
    <div class="col-md-12">
        <div class="card card-success">
            <div class="card-header">                    
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="card-title">Registro</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" #Tablefrm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h6>Tipo</h6>
                                <select
                                    class="browser-default custom-select"
                                    formControlName="Type"
                                    [ngClass]="{ 'is-invalid': f.Type.invalid && (f.Type.dirty || f.Type.touched) }">
                                    <option value="CI">Interna</option>
                                    <option value="CE">Externa</option>
                                </select>
                                <div *ngIf="f.Type.errors && (f.Type.dirty || f.Type.touched)" class="invalid-feedback">
                                    <div>El tipo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Remitente</h6>
                            <div class="input-group mb-3">                                
                                <input 
                                    type="text" 
                                    readonly="readonly"
                                    formControlName="SenderId"
                                    class="form-control" 
                                    [ngClass]="{ 'is-invalid': f.SenderId.invalid && (f.SenderId.dirty || f.SenderId.touched) }"
                                    aria-label="Seleccione un remitente" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">::</button>
                                </div>
                                <div *ngIf="f.SenderId.errors && (f.SenderId.dirty || f.SenderId.touched)" class="invalid-feedback">
                                    <div>El tipo es requerido</div>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-md-6">
                            <h6>Destinatario</h6>
                            <div class="input-group mb-3">                                
                                <input
                                    type="text" 
                                    readonly="readonly"
                                    formControlName="AddresseeId"
                                    class="form-control" 
                                    [ngClass]="{ 'is-invalid': f.AddresseeId.invalid && (f.AddresseeId.dirty || f.AddresseeId.touched) }"
                                    aria-label="Seleccione un remitente" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">::</button>
                                </div>
                                <div *ngIf="f.AddresseeId.errors && (f.AddresseeId.dirty || f.AddresseeId.touched)" class="invalid-feedback">
                                    <div>El tipo es requerido</div>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h6>Asunto</h6>
                                <input 
                                    id="Subject" 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="Subject"
                                    [ngClass]="{ 'is-invalid': f.Subject.invalid && (f.Subject.dirty || f.Subject.touched) }" />
                                <div *ngIf="f.Subject.errors && (f.Subject.dirty || f.Subject.touched)" class="invalid-feedback">
                                    <div>La ubicación es requerida</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6>Mensaje</h6>
                                <textarea
                                    id="Body" 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="Body"
                                    [ngClass]="{ 'is-invalid': f.Body.invalid && (f.Body.dirty || f.Body.touched) }">
                                </textarea>
                                <div *ngIf="f.Body.errors && (f.Body.dirty || f.Body.touched)" class="invalid-feedback">
                                    <div>La ubicación es requerida</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button 
                                pButton 
                                pRipple 
                                type="button" 
                                label="Guardar" 
                                class="p-button-success"
                                [disabled]="!myForm.valid"></button>
                        </div>
                    </div>     
                </form>                
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<!-- <ngx-ui-loader></ngx-ui-loader> -->
<p-toast></p-toast>